<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public 
	License, v. 2.0. If a copy of the MPL was not distributed with this file, 
	You can obtain one at http://mozilla.org/MPL/2.0/. -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="mifosng-platform-provider" version="3.0">

	<display-name>Mifos Platform</display-name>
	<description>A provider of microfinance services which applications can
		consume once authenticated and authorized.</description>


    <!--  =========================================================================
            web.xml is no longer used since the switch to Spring Boot.

            org.mifosplatform.infrastructure.core.boot.war.WebApplicationInitializerConfiguration
            and org.mifosplatform.infrastructure.core.boot.WebXmlConfiguration take its place now.
          =========================================================================
      -->


<!-- OK to remove this? It's probably not working with Spring Boot anyway..
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>mifosplatform.root</param-value>
	</context-param>
-->

</web-app>