# NB No ASF ASL header here due to FINERACT-1195
**/build/*
**/.gradle/*
**/bin/*

*.jar
*.war

# Incremental "docker build" is faster if we can modify the Dockerfile
# without "COPY ." re-transferring everything into the builder container.
Dockerfile
