*.class
*.jar
*.war
*.ear
.classpath
.project
.settings
.gradle
build
*.iml
*.ipr
*.iws
*.swp
*.DS_Store
.idea
.vscode
catalina.base_IS_UNDEFINED/
keystore.jks
bin/
.lock
fineract-provider/out/
fineract-provider/config/swagger/config.json
fineract-provider/config/swagger/fineract-input.yaml
licenses
.github/workflows/sonarqube.yml
**/.asciidoctor/images/*
**/.asciidoctor/diagram/*
**/images/diag-*.svg