
#settings {
    	margin-top: 20px;
    	margin-left: 20px;
}

#appTitle {
    	font-size: 20px;
	font-weight: bold;
    	margin-bottom: 40px;
}

#theLogonForm {
    	margin-top: 20px;
    	margin-left: 250px;
}

#logonTable td {
    	font-size: 14px;
}


h2 {
    	font-size: 16px;
    	margin-bottom: 10px;
}

#toptable {
	display: none;
}
