{
   "groupId": "org.apache.fineract",
   "artifactId": "client",
   "artifactVersion": "@VERSION@",
   "invokerPackage": "org.apache.fineract.client",
   "modelPackage": "org.apache.fineract.client.models",
   "apiPackage": "org.apache.fineract.client.services",
   "dateLibrary": "java8",
   "hideGenerationTimestamp": "true",
   "library": "retrofit2"
}
